<!DOCTYPE html>
<html>
<head>
  <title>PreludeV2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class = "nonadmin-home">

<!-- Navbar -->
<nav>
  <div class = "container">

      <!-- Prelude logo -->
      <div class="navbar-header">
        <h4>
          <%= link_to('Prelude', root_path) %>
        </h4>
      </div>

      <div>
        <ul class="nav navbar navbar-right">
          <% if user_signed_in? %>
            <li class = "button">
                <%= link_to('Home', root_path) %>
            </li>
            <li class = "button">
                <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
            </li>
          <% else %>
            <li class = "button">
                <%= link_to('Login', new_user_session_path) %>
            </li>
          <% end %>
        </ul>
    </div>
  </div>
</nav>
<!-- /Navbar -->

<div class = "index-container">
  <%= yield %>
</div>

</body>
</html>
